doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Куплю. Продам
  link(rel='stylesheet' href='/css/style.min.css')
  style.
    a.active{
      pointer-events: none;
    }
body
  -
    const getRandomInt = (max) => Math.ceil(Math.random()*max);
  mixin ticketCard()
    .ticket-card(class = `ticket-card--color0${getRandomInt(8)}`)
      block

  mixin insertOfferImage(offer)
    img(src=`/img/${offer.picture ? offer.picture : 'blank.png'}` alt=offer.title)

  mixin ticketLabel(type)
    span(class!=attributes.class || `ticket-card__label`) #{type === `OFFER` ? `Куплю` : `Продам`}

  include partials/header.pug
  block content
  include partials/footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
